<!-- Categoria -->
<div class="col-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
  <select
    class="form-select form-select-sm"
    aria-label="Choose one category"
    [formControl]="categoryCtrl">
    <option [ngValue]="null" disabled>Choose one category</option>
    @for (opt of statusOptionsCat(); track opt.value) {
      <option [ngValue]="opt">
        {{ opt.label }}
      </option>
    }
  </select>
</div>

<!-- Tag -->
<div class="col-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
  <select
    class="form-select form-select-sm"
    aria-label="Choose one tag"
    [formControl]="tagCtrl">
    <option [ngValue]="null" disabled>Choose one tag</option>
    @for (opt of statusOptionsTag(); track opt.value) {
      <option [ngValue]="opt">
        {{ opt.label }}
      </option>
    }
  </select>
</div>
