<div class="row g-2 gx-sm-0 align-items-center">
  <!-- Categoria -->
  <div class="col-12 col-sm-6">
    <div class="filter-select-wrap mx-2">
      <select
        class="form-select form-select-sm"
        aria-label="Choose one category"
        [compareWith]="compareOptions"
        [formControl]="categoryCtrl">
        <option [ngValue]="null" disabled>Choose one category</option>
        @for (opt of categoriaOptions(); track opt.value) {
          <option [ngValue]="opt">
            {{ opt.label }}
          </option>
        }
      </select>
    </div>
  </div>

  <!-- Tag -->
  <div class="col-12 col-sm-6">
    <div class="filter-select-wrap mx-2">
      <select
        class="form-select form-select-sm"
        aria-label="Choose one tag"
        [compareWith]="compareOptions"
        [formControl]="tagCtrl">
        <option [ngValue]="null" disabled>Choose one tag</option>
        @for (opt of tagOptions(); track opt.value) {
          <option [ngValue]="opt">
            {{ opt.label }}
          </option>
        }
      </select>
    </div>
  </div>
</div>
