:host {
  display: block;
  min-height: 91%;
  height: 91%;
  max-height: 100%;
  
  --row-h: 3rem;         /* altura padrão da linha */
  --cell-vpad: 2px;      /* padding vertical total (top+bottom) */
}
:host,
:host * {
  font-family: "Poppins";
  font-size: 0.67rem;
}
:host ::ng-deep .mat-mdc-table .mdc-data-table__header-row {
    height: 1.5rem !important;
}
/* 1) Padroniza a altura das linhas */
:host ::ng-deep tr.mat-mdc-row {
  height: var(--row-h) !important;
  overflow: auto;
}
/* 2) Evita que outras colunas aumentem a linha */
:host ::ng-deep td.mat-mdc-cell {
  vertical-align: middle;
  padding-top: calc(var(--cell-vpad) / 2);
  padding-bottom: calc(var(--cell-vpad) / 2);
  overflow: auto;
}
/* 3) Scroll interno apenas na célula de tags */
:host ::ng-deep .tag-cell {
  min-height: calc(var(--row-h) - var(--cell-vpad));
  max-height: calc(var(--row-h) - var(--cell-vpad));
  height: calc(var(--row-h) - var(--cell-vpad));
  overflow: auto;
}
/* Chips quebram em múltiplas linhas dentro do scroll */
:host ::ng-deep mat-chip-listbox.responsive-chips {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem 0.5rem;
  align-content: flex-start;
  height: 5dvh !important;
  overflow: auto;
}
:host ::ng-deep .mat-mdc-standard-chip {
  padding: .3rem .3rem !important;  
}
:host ::ng-deep .mat-mdc-standard-chip .mdc-evolution-chip__action--primary {
    padding: 0 !important;
    margin: 0 !important;
}
.page-shell {
  max-height: 91dvh;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.page-main {
  flex: 1 1 auto;  /* ocupa o espaço restante */
  min-height: 0;   /* CRÍTICO: permite scroll interno sem “estourar” */
  overflow: auto;  /* scroll fica apenas no conteúdo */
}
:host ::ng-deep .table-responsive {
    height: 67dvh !important;
}