::ng-deep * {
    --mdc-typography-body1-font-family: "Poppins";
    --mdc-typography-body2-font-family: "Poppins";
    --mdc-typography-button-font-family: "Poppins";
    --mdc-typography-caption-font-family: "Poppins";
    --mdc-typography-headline1-font-family: "Poppins";
    --mdc-typography-headline2-font-family: "Poppins";
    --mdc-typography-headline3-font-family: "Poppins";
    --mdc-typography-headline4-font-family: "Poppins";
    --mdc-typography-headline5-font-family: "Poppins";
    --mdc-typography-headline6-font-family: "Poppins";
    --mdc-typography-overline-font-family: "Poppins";
    --mdc-typography-subtitle1-font-family: "Poppins";
    --mdc-typography-subtitle2-font-family: "Poppins";
}

.body {
    height: 82vh;
    max-height: 82vh;
}
.row {
    border-bottom: 1px solid #c1bccd;
}
::ng-deep  .mat-mdc-table tbody, 
           .mat-mdc-table tfoot, 
           .mat-mdc-table thead, 
           .mat-mdc-cell, 
           .mat-mdc-footer-cell, 
           .mat-mdc-header-row, 
           .mat-mdc-row, 
           .mat-mdc-footer-row, 
           .mat-mdc-table .mat-mdc-header-cell {
    background: inherit;
    height: 7vh;
    max-height: 7vh;
}
::ng-deep .mat-mdc-table .mdc-data-table__row {
    height: 1.5rem;
}
::ng-deep td:nth-child(4) {
    display: table-cell !important;
    height: 7vh !important;
    overflow-y: auto !important;
    margin-top: 0 !important;
    padding: 3px !important;
}
::ng-deep .mat-mdc-chip-set .mdc-evolution-chip-set__chips {
    min-width: 100%;
    padding: 0.3rem 0 0 0 !important;
    margin: 0 !important;
}
::ng-deep .mdc-evolution-chip-set .mdc-evolution-chip {
    margin-top: 1px !important;
    margin-bottom: 1px !important;
}
::ng-deep .mdc-evolution-chip, .mdc-evolution-chip__cell, .mdc-evolution-chip__action {
    display: inline-flex;
    align-items: center;
    height: 20px !important;
}
.mdc-evolution-chip-set {
    display: flex;
    height: 5vh !important;
    overflow-y: auto !important;
}
.tags {
    cursor: pointer;
    font-size: 0.6rem;
}
a {
    cursor: pointer;
}
a.disabled {
    pointer-events: none;
    opacity: 0.5;
}
.edit, .delete {
    cursor: pointer;
}
/* Largura da barra de rolagem */
::ng-deep .mdc-evolution-chip-set::-webkit-scrollbar {
  width: 5px; /* vertical */
  height: 5px; /* horizontal */
}
/* Parte de fundo da barra */
::ng-deep .mdc-evolution-chip-set::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Parte que se move (thumb) */
::ng-deep .mdc-evolution-chip-set::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
/* Hover na thumb */
::ng-deep .mdc-evolution-chip-set::-webkit-scrollbar-thumb:hover {
  background: #555;
}
::ng-deep .mat-mdc-standard-chip .mdc-evolution-chip__action--primary {
    font: inherit;
    letter-spacing: inherit;
    white-space: inherit;
    margin: 0.2rem;
    padding: 0.01rem 0.5rem 0.01rem 0.5rem;
}