html, body {
  height: 100%;
  margin: 0;
}

/* Mantém zoom do usuário e base em 16px (~1rem) */
//html { font-size: 100%; }

/* Corpo com tipografia fluida controlada (15px → 17px) */
body {
//  font-size: clamp(0.9375rem, 0.22vw + 0.9rem, 1.0625rem);
//  line-height: 1.5;
}
h1 { font-size: clamp(1.75rem, 2.5vw + 1rem, 3rem);   line-height: 1.2; }
h2 { font-size: clamp(1.5rem,  2.0vw + 0.9rem, 2.25rem); line-height: 1.25; }
h3 { font-size: clamp(1.25rem, 1.5vw + 0.8rem, 1.75rem); line-height: 1.25; }
h4 { font-size: clamp(1.125rem,1.1vw + 0.7rem, 1.5rem);  line-height: 1.3;  }
h5 { font-size: clamp(1rem,    0.8vw + 0.65rem,1.25rem); line-height: 1.35; }
h6 { font-size: clamp(0.95rem, 0.6vw + 0.6rem, 1.125rem);line-height: 1.35; }

/* Base = XS (default) */

/* SM+ */
@media (min-width: 576px) { }

/* MD+ */
@media (min-width: 768px) { }

/* LG+ */
@media (min-width: 992px) { }

/* XL+ */
@media (min-width: 1200px) { }

/* XXL+ */
@media (min-width: 1400px) { }